__pycache__/
*.py[cod]
*$py.class
*.so
.Python

venv/
env/
ENV/
.venv/
.devdb/

*.egg-info/
dist/
build/

.env
.env.local
db.sqlite3
*.pem
*.key
gh_deploy_key*
zenith_deploy_key*

media/*
!media/.gitkeep

staticfiles/
static_root/

.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

*.log
